In [20]:
merged = pd.merge(orders[['zipcode']], zipcounty[['zipcode', 'latitude', 'longitude']],
                  on='zipcode', how='inner')

merged = merged.drop_duplicates(keep='first')

bearings_list = []

for i in list(zip(merged['latitude'], merged['longitude'])):
    ptA = (37.0902, -95.7129)
    bearings_list.append(calculate_initial_compass_bearing(ptA, i))

merged['bearings'] = bearings_list

merged['polar'] = pd.cut(merged['bearings'], 16, labels=['N', 'NNE', 'NE', 'ENE',
                                                        'E', 'ESE', 'SE', 'SSE',
                                                        'S', 'SSW', 'SW', 'WSW',
                                                        'W', 'WNW', 'NW', 'NNW'])

orders['orderyear'] = pd.to_datetime(orders['orderdate']).dt.year

merged_1 = pd.merge(orders[['orderid', 'orderyear', 'campaignid', 'zipcode', 'totalprice']],
                    campaigns[['campaignid', 'channel']],
                    on='campaignid', how='inner')

merged_2 = pd.merge(merged_1, zipcounty[['zipcode', 'latitude', 'longitude']], on='zipcode')

z = merged_1.groupby(['zipcode', 'channel', 'orderyear'])['totalprice'].mean()

z.head()

zipcode  channel  orderyear
*        WEB      2013         156.00
                  2014          27.90
-        AD       2011          34.95
--       WEB      2015         199.90
.        WEB      2015          17.50
Name: totalprice, dtype: float64

In [21]:
z = z.unstack(level=-1)

z.head()

orderyear        2009  2010   2011   2012   2013  2014   2015   2016
zipcode channel
*       WEB       NaN   NaN    NaN    NaN  156.0  27.9    NaN    NaN
-       AD        NaN   NaN  34.95    NaN    NaN   NaN    NaN    NaN
--      WEB       NaN   NaN    NaN    NaN    NaN   NaN  199.9    NaN
.       WEB       NaN   NaN    NaN    NaN    NaN   NaN   17.5  22.95
.....   AD        NaN   NaN    NaN  37.61    NaN   NaN    NaN    NaN

In [22]:
z = z.unstack(level=-1)

z.head()

orderyear 2009                                                              \
channel     AD BULK CATALOG CONFERENCE EMAIL EMPLOYEE INSERT INTERNAL MAIL
zipcode
*          NaN  NaN     NaN        NaN   NaN      NaN    NaN      NaN  NaN
-          NaN  NaN     NaN        NaN   NaN      NaN    NaN      NaN  NaN
--         NaN  NaN     NaN        NaN   NaN      NaN    NaN      NaN  NaN
.          NaN  NaN     NaN        NaN   NaN      NaN    NaN      NaN  NaN
.....      NaN  NaN     NaN        NaN   NaN      NaN    NaN      NaN  NaN

orderyear          ...       2016                                              \
channel   PARTNER  ... CONFERENCE EMAIL EMPLOYEE INSERT INTERNAL MAIL PARTNER
zipcode            ...
*             NaN  ...        NaN   NaN      NaN    NaN      NaN  NaN     NaN
-             NaN  ...        NaN   NaN      NaN    NaN      NaN  NaN     NaN
--            NaN  ...        NaN   NaN      NaN    NaN      NaN  NaN     NaN
.             NaN  ...        NaN   NaN      NaN    NaN      NaN  NaN     NaN
.....         NaN  ...        NaN   NaN      NaN    NaN      NaN  NaN     NaN

orderyear
channel   REFERRAL SURVEY    WEB
zipcode
*              NaN    NaN    NaN
-              NaN    NaN    NaN
--             NaN    NaN    NaN
.              NaN    NaN  22.95
.....          NaN    NaN    NaN

[5 rows x 104 columns]

In [23]:
z = z.unstack(level=-1)

z.head()

orderyear  channel  zipcode
2009       AD       *         NaN
                    -         NaN
                    --        NaN
                    .         NaN
                    .....     NaN
dtype: float64

In [24]:
z.fillna(0, inplace=True)



z.head(20)

orderyear  channel  zipcode
2009       AD       *            0.0
                    -            0.0
                    --           0.0
                    .            0.0
                    .....        0.0
                    0            0.0
                    0000         0.0
                    00000      900.0
                    00120        0.0
                    00157        0.0
                    00162        0.0
                    00177        0.0
                    00179        0.0
                    00185        0.0
                    00186        0.0
                    00193        0.0
                    00196        0.0
                    00198        0.0
                    0027         0.0
                    00646        0.0
dtype: float64

In [26]:
z['zipcode'] = z.index

In [31]:
type(z)

pandas.core.series.Series

In [32]:
z.reset_index(drop=True, inplace=False)

z.head()

orderyear  channel  zipcode
2009       AD       *          0
                    -          0
                    --         0
                    .          0
                    .....      0
dtype: object

In [10]:




final = pd.merge(z, merged[['zipcode', 'polar']], on='zipcode', how='inner')

mean_final = final.groupby('polar').mean()

mean_final = mean_final.reset_index()

mean_final.melt(id_vars=['polar'],
                var_name="Channel",
                value_name="Value")
a = mean_final.melt(id_vars=['polar'],
                    var_name="Channel",
                    value_name="Value")

    polar Channel      Value
0       N      AD  29.970158
1     NNE      AD  27.170507
2      NE      AD  33.404761
3     ENE      AD  34.855027
4       E      AD  29.141724
5     ESE      AD  32.773886
6      SE      AD  21.645237
7     SSE      AD  35.406856
8       S      AD  26.855559
9     SSW      AD  43.356862
10     SW      AD  21.161996
11    WSW      AD  31.395751
12      W      AD  36.489332
13    WNW      AD  29.321921
14     NW      AD  33.133730
15    NNW      AD  20.057008
16      N    BULK   0.000000
17    NNE    BULK   0.000000
18     NE    BULK   0.021775
19    ENE    BULK   5.458479
20      E    BULK   0.082598
21    ESE    BULK   3.426219
22     SE    BULK   0.000000
23    SSE    BULK   3.801762
24      S    BULK   0.000000
25    SSW    BULK   0.000000
26     SW    BULK   0.000000
27    WSW    BULK   0.027508
28      W    BULK   0.031979
29    WNW    BULK   0.083980
..    ...     ...        ...
178    NE  SURVEY   0.000000
179   ENE  SURVEY   0.008493
180     E  SURVEY   0.000000
181   ESE  SURVEY   0.000000
182    SE  SURVEY   0.000000
183   SSE  SURVEY   0.000000
184     S  SURVEY   0.000000
185   SSW  SURVEY   0.000000
186    SW  SURVEY   0.000000
187   WSW  SURVEY   0.000000
188     W  SURVEY   0.000000
189   WNW  SURVEY   0.000000
190    NW  SURVEY   0.000000
191   NNW  SURVEY   0.000000
192     N     WEB  45.342815
193   NNE     WEB  52.248171
194    NE     WEB  43.291853
195   ENE     WEB  64.937987
196     E     WEB  50.454006
197   ESE     WEB  47.278582
198    SE     WEB  35.897172
199   SSE     WEB  51.828119
200     S     WEB  47.395728
201   SSW     WEB  58.184172
202    SW     WEB  40.348602
203   WSW     WEB  69.652055
204     W     WEB  57.383032
205   WNW     WEB  50.135211
206    NW     WEB  33.825403
207   NNW     WEB  40.815239

[208 rows x 3 columns]